.custom-red{background-color: #DF6565 !important; color: #fff !important;}
.custom-blue{background-color: #1d5cb5 !important; color: #fff !important;}
.btncontrol:hover{color:#2185D0;}

.custom-grid-error{
    cursor: pointer;
}